<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
  <appSettings>
    <add key="Binding" value="http://*:5000/engines/PingCastle/"/>
    <add key="PingCastle" value="C:\git\PingCastlePublic\bin\Release\PingCastle.exe"/>
  </appSettings>
</configuration>
